body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 40%;
  max-height: 40%;
}
.card-body{
  text-align: center
}

.links{
  padding-right: 20px;
}

li {
  display: inline;
  text-align: center;
}

/* div{
margin:center;
 align-items: center;
 display:inline;

} */